@media only screen and ( min-width: 768px){

*{
  font-size: clamp(12px, 2vw, 18px);
}

.navbar-main .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 4rem;
}

.navbar-main .menu li{
  background-color: unset;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.navbar-main .menu li:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.navbar-main .menu li a:hover{
  color: rgb(8, 18, 107);
}

.navbar-main .menu li a{
  color: unset;
}

.navbar-main .toggle, .hamburger, .line{
  display: none;
}


body{
  padding: 3rem 5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

body .logo img{
  height: 10rem;
}

.navbar-main{
  grid-column: 4 / 7;
  grid-row: 1 / 2;
}

.logo{
  grid-column: 1 / 2 ;
  grid-row: 2 / 3;
}


header{
  grid-column: 1 / 7;
  grid-row: 3 / 4;
}

.img-wrapper figure img{
 height: 40vh;
 object-fit: cover;
}

main{
  grid-column: 1 / 7;
  grid-row: 4 / 5;

  padding-top: 4rem;
  
}



/* cards */
.cards{
  grid-column: 1 / 7;
  grid-row: 5 / 6;
}

.cards .cards-wrapper{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards .cards-wrapper .card{
  padding: 0.3rem;
  max-width: 300px;
  height: 400px;
}

.cards .cards-wrapper .card .btn{
 transition: all 0.2s ease-in;
 -webkit-transition: all 0.2s ease-in;
 -moz-transition: all 0.2s ease-in;
 -ms-transition: all 0.2s ease-in;
 -o-transition: all 0.2s ease-in;
}

.cards .cards-wrapper .card .btn:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.cards .cards-wrapper .card p{
  min-height: 8ch;
}

.cards .cards-wrapper .card img{
  width: 100%;
  min-height: 50%;
  object-fit: cover;
}






/* links */
.links{
  grid-column: 1 / 7;
  grid-row: 6 / 7;

  padding: 0 0.5rem;
}

.social-media{
  grid-column: 1 / 7;
  grid-row: 7 / 8;

  margin-bottom: 4rem;

  justify-content: center;
  gap: 1rem;
}





.social-media div{
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.social-media div:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

footer{
  padding: unset;

  grid-column: 1 / 7;
  grid-row: 8 / 9;
 
  margin: 0.2rem 0;

  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

footer p{
  font-size: clamp(12px, 2vw, 18px);
  margin: 0;
}


}