@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

/* variables */
/* I could do better next time :) dirty code! :( */
:root{
  --btn-special: rgb(8, 38, 136);
  --highligth:rgb(143, 143, 143);

  --btn-faded-color:  rgb(216, 214, 214);
  --btn-background-color:  rgb(168, 166, 166);
  --btn-color: rgb(32, 32, 32);
  --btn-font-color:  #1c1919;
  
  --header-primary-font: 'Special Elite', cursive;
  --default-font: 'Roboto Condensed', sans-serif;
  
  --font-color-faded:  rgb(36, 36, 36);
  
  --background-color: rgb(245, 240, 239);
  --background-color-card: rgb(214, 214, 216);
  
  --footer-background-color:  rgb(161, 161, 161);
  
}

/* I recognized this from first assignment, i did not change it because i uploaded this prior to reading your comment. */
/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Brute forcing, im lazy i guess */
/* I'll fix it next time          */
.special-padding{
  padding-left: 1rem;
}

